requests>=2.25.1
urllib3>=1.25.10 # for requests
tabulate==0.8.7
ffmpeg_python==0.2.0
siaskynet>=2.2.0
youtube_dl==2020.5.3
opencv-python
base58>=2.0.1
secp256k1
cryptography
eth_utils
ipfshttpclient==0.7.0a1